@use "../../../styles/variables.scss" as *;

.top {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  margin-top: 50px;
  min-height: calc(100vh - 135px);
  font-size: $text__1;
}

