@use "../../../styles/variables.scss" as *;

.header {
  &__navigation {
    display: flex;
    align-items: center;
    gap: 1.5vw;
    font-size: $text__4;

    &__link {
      all: unset;
      position: relative;
      padding-bottom: 0.347vw;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: $white__3;
        border-radius: 5px;
        transform: scaleX(0);
        transition: all 0.6s ease;
        bottom: 0;
      }
      &:hover::before {
        transform: scaleX(1);
      }
    }
  }
}
