@use "../../../styles/variables.scss" as *;

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  // gap: 8.889vw;
  padding: 10vw 8.333vw;
  position: relative;

  &__inner {
    max-width: 600px;
    width: 50%;
    z-index: 2;
    text-align: left;
  }

  &__title {
    font-size: $text__2;
    font-family: $ff-medium;
    color: $white__1;
    margin-bottom: 30px;
    line-height: 1.2;
  }

  &__text {
    font-size: $text__4;
    font-family: $ff-regular;
    color: $white__2;
    line-height: 1.6;
    // margin-bottom: 40px;
  }
  &__svgContainer {
    width: 50%;
    min-width: 360px;
    max-width: 710px;
    height: auto;
    svg {
      width: 100%;
      height: auto;
      max-width: 710px;
      max-height: 354px;
    }
  }
}

@media (max-width: 870px) {
  .description {
    flex-direction: column;
    gap: 3vw;
    &__inner {
      width: 80%;
      text-align: center;
    }
  }
}
@media (max-width: 570px) {
  .description {
    gap: 3vw;
    &__inner {
      width: 100%;
    }
  }
}