@use "../../../styles/variables.scss" as *;

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title {
    font-family: $ff-medium;
    font-size: $text__1;
    text-align: left;
    margin-bottom: 0.694vw;
    margin-left: 2.778vw;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 20vw);
    gap: 1.667vw;
    margin-inline: 2.778vw;
    &-1 {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      background: url("/images/project-1.png") no-repeat center / cover;
    }
    &-2 {
      grid-column: 2 / 3;
      grid-row: 1 / 4;
      background: url("/images/project-2.png") no-repeat center / cover;
    }
    &-3 {
      grid-column: 1 / 2;
      grid-row: 3 / 5;
      background: url("/images/project-3.png") no-repeat center / cover;
    }
    &-4 {
      grid-column: 2 / 3;
      grid-row: 4 / 6;
      background: url("/images/project-4.png") no-repeat center / cover;
    }
    &-5 {
      grid-column: 1 / 2;
      grid-row: 5 / 6;
      background: $white__4;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 0.833vw;
      padding-inline: 1.667vw;
      span {
        font-family: $ff-medium;
        font-size: $text__2;
      }
      button {
        margin-right: auto;
        border: none;
        border-radius: 30px;
        background: $black;
        font-size: $text__4;
        padding: 10px;
        color: $white__1;
        white-space: nowrap;
      }
    }
  }
}
@media (max-width: 810px) {
  .projects__inner-5 {
    span {
      font-size: $text__4;
      text-align: right;
    }
    button {
      padding: 5px;
    }
  }
}
@media (max-width: 404px) {
  .projects__inner-5 {
    button {
      margin-top: -20px;
    }
  }
}