@use "@/styles/variables.scss" as *;

.user {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 100vh;
  
  &__title {
    font-size: $text__1;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}