@use "../../../styles/variables.scss" as *;

.helpGrowe {
  padding-block: 100px;
  display: flex;
  flex-direction: column;
  gap: 5.556vw;
  &__title {
    font-family: $ff-light;
    font-size: $text__1;
    text-align: left;
    margin-left: 2.778vw;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 2.778vw;
    gap: 5.556vw;
    &-text {
      display: flex;
      flex-direction: column;
      gap: 1.736vw;
      color: $white__3;
      font-size: $text__3;
      min-width: 20%;
      transition: 0.3s;
      // padding-right: 10px;
      & > * {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        margin: 0.5vw 1.389vw;
      }
    }
    &-img {
      &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5.556vw;
        width: 60%;
      }
      &__text {
        display: flex;
        flex-direction: column;
        gap: 1.736vw;
        color: $white__3;
        font-size: $text__3;
        width: 50%;
        position: relative;
        & > * {
          display: flex;
          flex-direction: column;
          white-space: nowrap;
          margin: 0;
          li {
            display: flex;
            align-items: center;
            gap: 1vw;
            &::before {
              content: "";
              left: 0;
              width: 2vw;
              min-width: 20px;
              display: block;
              aspect-ratio: 1;
              background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M19.9198 32.76C18.3198 32.76 16.7598 32 15.4398 31.36C13.5198 30.44 12.6398 30.08 12.0398 30.8C10.8398 32.16 9.19977 32.36 7.63977 31.36C7.03977 30.96 6.63977 30.32 6.55977 29.56C6.51977 29.32 6.55977 29.12 6.55977 28.92C6.71977 27.92 7.31977 24.52 8.59977 22.24C8.71977 22.04 8.79977 21.88 8.87977 21.68C9.71977 19.84 9.91977 17.92 9.91977 17.36C9.91977 17.24 9.91977 17.2 9.91977 17.2C9.91977 11.68 14.3998 7.19995 19.9198 7.19995C22.5998 7.19995 25.0798 8.23995 26.9998 10.12C28.8798 12 29.9198 14.48 29.9198 17.12L29.9598 17.36C30.2798 19.32 30.6798 20.96 31.0398 21.72C31.1198 21.84 31.1598 21.96 31.1998 22C31.9198 22.96 32.6798 26.04 33.2398 28.48C33.3598 29 33.3598 29.56 33.2398 30.08C33.1598 30.44 33.0398 30.64 32.8798 30.8C32.2398 31.52 30.5198 32.32 28.0398 30.88C26.9198 30.24 25.8398 30.68 24.1998 31.44C22.9598 32.12 21.5598 32.76 19.9198 32.76ZM12.7998 28.84C13.8798 28.84 15.0798 29.4 16.1598 29.96C17.3998 30.56 18.6798 31.2 19.9598 31.2C21.2398 31.2 22.3998 30.64 23.5198 30.12C25.1998 29.32 26.9598 28.48 28.8798 29.6C30.6798 30.64 31.5198 30.04 31.7198 29.84C31.7598 29.56 31.7598 29.28 31.7198 28.96C31.0398 25.92 30.3598 23.64 29.9598 23.08C29.8398 22.92 29.7598 22.76 29.6398 22.52C29.0398 21.28 28.6398 18.96 28.4398 17.72L28.3998 17.4C28.3998 17.36 28.3998 17.32 28.3998 17.28C28.3998 15.04 27.5198 12.92 25.9198 11.36C24.3198 9.75995 22.2398 8.91995 19.9998 8.91995C15.3598 8.91995 11.5998 12.68 11.5998 17.32C11.5998 17.32 11.5998 17.4 11.5998 17.56C11.5598 18.36 11.3598 20.44 10.3998 22.44C10.2798 22.68 10.1598 22.92 10.0798 23.12C8.79977 25.16 8.23977 28.52 8.11977 29.2C8.11977 29.28 8.11977 29.32 8.11977 29.4C8.15977 29.68 8.27977 29.88 8.51977 30.04C9.67977 30.8 10.3998 30.24 10.8398 29.72C11.3998 29.08 12.0798 28.84 12.7998 28.84ZM18.3998 19.36C18.1998 19.36 17.9998 19.28 17.8398 19.12C17.8398 19.12 17.3198 18.68 16.2398 18.72C15.0398 18.76 14.4798 19.16 14.4798 19.16C14.2398 19.32 13.9198 19.36 13.6398 19.24C13.3598 19.12 13.1998 18.84 13.1998 18.52V16.4C13.1998 14.76 14.5598 13.4 16.1998 13.4C16.9998 13.4 17.7598 13.72 18.3198 14.28C18.8798 14.84 19.1998 15.6 19.1998 16.4V18.52C19.1998 18.84 18.9998 19.12 18.7198 19.24C18.5998 19.36 18.4798 19.36 18.3998 19.36ZM16.1998 15.04C15.4398 15.04 14.7998 15.68 14.7998 16.44V17.36C15.1598 17.28 15.6398 17.2 16.1598 17.16C16.7198 17.12 17.1998 17.2 17.5998 17.32V16.44C17.5998 16.08 17.4398 15.72 17.1998 15.44C16.9198 15.16 16.5598 15.04 16.1998 15.04ZM25.9198 19.36C25.7198 19.36 25.5198 19.28 25.3598 19.12C25.3598 19.12 24.8398 18.68 23.7598 18.72C22.5598 18.8 21.9998 19.2 21.9998 19.2C21.7598 19.36 21.4398 19.4 21.1598 19.28C20.8798 19.16 20.7198 18.88 20.7198 18.56V16.44C20.7198 14.8 22.0798 13.44 23.7198 13.44C24.5198 13.44 25.2798 13.76 25.8398 14.32C26.3998 14.88 26.7198 15.64 26.7198 16.44V18.56C26.7198 18.88 26.5198 19.16 26.2398 19.28C26.1198 19.36 26.0398 19.36 25.9198 19.36ZM23.7198 15.04C22.9598 15.04 22.3198 15.68 22.3198 16.44V17.36C22.6798 17.28 23.1598 17.2 23.6798 17.16C24.2398 17.12 24.7198 17.2 25.1198 17.32V16.44C25.1198 16.08 24.9598 15.72 24.7198 15.44C24.4398 15.16 24.0798 15.04 23.7198 15.04ZM19.9198 26.6C18.5998 26.6 17.5198 25.32 17.5198 23.76C17.5198 22.2 18.5998 20.92 19.9198 20.92C21.2398 20.92 22.3198 22.2 22.3198 23.76C22.3198 25.32 21.2398 26.6 19.9198 26.6ZM19.9198 22.52C19.5598 22.52 19.1198 23.04 19.1198 23.76C19.1198 24.48 19.5198 25 19.9198 25C20.2798 25 20.7198 24.48 20.7198 23.76C20.7198 23.04 20.2798 22.52 19.9198 22.52ZM9.59977 22.84C9.39977 22.84 9.19977 22.76 9.03977 22.6L6.59977 20.16C5.47977 19.04 5.47977 17.28 6.59977 16.16C7.11977 15.64 7.83977 15.32 8.59977 15.32C9.35977 15.32 10.0398 15.6 10.5998 16.16L11.3198 16.88C11.4798 17.04 11.5598 17.28 11.5598 17.48C11.5198 18.28 11.3198 20.32 10.3598 22.36C10.2398 22.6 10.0398 22.76 9.75977 22.8C9.67977 22.84 9.63977 22.84 9.59977 22.84ZM8.59977 16.96C8.27977 16.96 7.95977 17.08 7.71977 17.32C7.23977 17.8 7.23977 18.56 7.71977 19.04L9.31977 20.64C9.71977 19.48 9.83977 18.4 9.91977 17.76L9.47977 17.32C9.19977 17.08 8.91977 16.96 8.59977 16.96ZM30.3198 22.92C30.2798 22.92 30.2398 22.92 30.1998 22.92C29.9598 22.88 29.7198 22.72 29.5998 22.48C28.9998 21.24 28.5998 18.92 28.3998 17.68C28.3598 17.44 28.4398 17.16 28.6398 17L29.4398 16.2C29.9598 15.68 30.6798 15.36 31.4398 15.36C32.1998 15.36 32.9198 15.64 33.4398 16.2C34.5598 17.32 34.5598 19.08 33.4398 20.2L30.9198 22.76C30.7198 22.84 30.5198 22.92 30.3198 22.92ZM30.0398 17.84C30.2398 18.96 30.4398 19.92 30.6398 20.68L32.2798 19.04C32.7598 18.56 32.7598 17.8 32.2798 17.32C31.7998 16.84 30.9998 16.84 30.5598 17.32L30.0398 17.84Z' fill='white'/%3e%3c/svg%3e ")
                no-repeat center / contain;
            }
          }
        }
        & > *:first-child {
          white-space: wrap;
          color: $white__1;
        }
      }
    }
  }
}

.active {
  color: $white__1;
  margin: 0;
}

@media (max-width: 930px) {
  .helpGrowe {
    &__inner {
      flex-direction: column;
      align-items: flex-start;
      &-img {
        &__container {
          width: 100%;
        }
        &__text {
          width: 80%;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .helpGrowe {
    &__inner {
      &-img {
        &__container {
          img {
            display: none;
          }
        }
        &__text {
          width: 80%;
        }
      }
    }
  }
}
