@use "../../../../styles/variables.scss" as *;

.loginModal {
  position: fixed;
  width: 50vw;
  height: 40vh;
  background-color: $dark;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  z-index: 1000;
  padding: 1vw;
  border-radius: 5px;
  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    label {
      font-size: $text__2;
      text-align: center;
    }
    &-inputInner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3px;
      width: 100%;
    }
    &-input {
      width: 80%;
      font-size: $text__3;
    }
    &-inputSpan {
      font-size: $text__4;
      color: red;
    }
    &-signNow {
      border: 0;
      border-radius: 10px;
      background-color: $blue__light;
      font-size: $text__3;
      padding: 0.3vw 1vw;
      &:disabled {
        background-color: $white__2;
      }
    }
    &-signOther {
      border: 0;
      background-color: transparent;
      font-size: $text__4;
      color: $blue__light;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-inline: auto;
      &::after {
        content: "";
        width: 0;
        height: 2px;
        background-color: $blue__dark;
        transition: width 0.3s ease;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
}

.input__error {
  border: 2px red solid;
  color: red;
}
