@use "../../../styles/variables.scss" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3vw;
  padding-block: 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 1000;
  background: $white__4;
  border-radius: 0 0 10px 10px;

  overflow-x: hidden;

  div {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

@media (max-width: 450px) {
  .header {
    &__navigation {
      display: none;
    }
  }
}
