@use "../../../styles/variables.scss" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.667vw;
  padding-block: 5px;

  &__navigation {
    display: flex;
    align-items: center;
    gap: 1.5vw;
    font-size: $text__4;

    & > li {
      position: relative;
      padding-bottom: 0.347vw;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: $white__3;
        border-radius: 5px;
        transform: scaleX(0);
        transition: all 0.6s ease;
        bottom: 0;
      }
      &:hover::before {
        transform: scaleX(1);
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

@media (max-width: 450px) {
  .header {
    &__navigation {
      display: none;
    }
  }
}
