@use "../../../styles/variables.scss" as *;

.footer {
  display: flex;
  padding-block: 10vw;
  padding-inline: 2.778vw;
  position: relative;
  gap: 50px;
  & > * {
    min-width: 28%;
  }
  &__description {
    display: flex;
    flex-direction: column;
    gap: 5.556vw;
    & > div {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &-title {
      font-family: $ff-light;
      font-size: $text__2;
      white-space: nowrap;
    }
    &-text {
      color: $white__2;
      font-size: $text__3;
    }
    &-email {
      font-family: $ff-light;
      font-size: $text__3;
      display: flex;
      align-items: center;
      gap: 5px;
      transition: 0.3s;
      &:hover {
        gap: 3vw;
        scale: 1.03;
      }
      &::after {
        content: "";
        color: $white__1;
        background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.95907 20C7.95907 19.4 8.19906 18.8 8.63906 18.32L11.3191 15.56C11.4791 15.4 11.6391 15.32 11.8391 15.32L31.1991 14.36C31.3991 14.36 31.6391 14.44 31.7991 14.56C31.9591 14.72 32.0391 14.92 32.0391 15.12V15.64C32.0391 17.36 31.1191 19 29.5991 19.84L29.3591 19.96L29.6391 20.12C31.1191 21 32.0391 22.6 32.0391 24.28V24.76C32.0391 24.96 31.9591 25.2 31.7991 25.32C31.6391 25.48 31.4391 25.56 31.1991 25.56L16.1191 24.84L11.8391 24.6C11.6391 24.6 11.4391 24.52 11.3191 24.36L8.63906 21.6C8.15906 21.2 7.95907 20.6 7.95907 20ZM12.2391 16.88L9.75907 19.44C9.43907 19.76 9.43907 20.24 9.75907 20.56L12.2391 23.12L16.1991 23.32L30.4391 24C30.3191 23 29.7591 22.08 28.8791 21.56L27.3991 20.68C27.1591 20.52 26.9991 20.28 26.9991 20C26.9991 19.72 27.1591 19.44 27.3991 19.32L28.8391 18.52C29.7591 18 30.3591 17.08 30.4391 16.04L12.2391 16.88ZM14.3591 29C14.3591 28.96 14.3591 28.92 14.3591 28.88C14.3991 28.56 14.6391 28.32 14.9591 28.2C14.9991 28.2 16.3591 27.8 16.3991 26.6C16.3991 26.48 16.1991 26.16 16.0391 25.92C15.7191 25.4 15.3991 24.76 15.3991 24.12V24.08C15.3991 23.88 15.4791 23.64 15.6391 23.52C15.7991 23.36 15.9991 23.28 16.2391 23.28L22.5191 23.56C22.9591 23.6 23.2791 23.92 23.2791 24.36V32.76C23.2791 34.28 22.1591 35.6 20.6391 35.84L16.4791 36.52C16.1991 36.56 15.9191 36.48 15.7191 36.32C15.3991 36.04 15.2791 35.56 15.4791 35.2C15.4791 35.2 16.3991 33.56 16.3991 31.96C16.3991 30.6 14.7991 29.6 14.7591 29.6C14.4791 29.52 14.3591 29.28 14.3591 29ZM17.9591 26.64C17.9191 27.92 17.2391 28.68 16.5991 29.16C17.2391 29.8 17.9591 30.8 17.9591 32.04C17.9591 33.08 17.6791 34.08 17.3991 34.8L20.3591 34.32C21.0791 34.2 21.6391 33.56 21.6391 32.84V25.2L17.3191 25C17.3591 25.08 17.3991 25.12 17.4391 25.2C17.7191 25.68 17.9591 26.12 17.9591 26.64ZM14.3591 29C14.3591 28.96 14.3591 28.92 14.3591 28.88C14.3991 28.56 14.6391 28.32 14.9591 28.2C14.9991 28.2 16.3591 27.8 16.3991 26.6C16.3991 26.48 16.1991 26.16 16.0391 25.92C15.7191 25.4 15.3991 24.76 15.3991 24.12V24.08C15.3991 23.88 15.4791 23.64 15.6391 23.52C15.7991 23.36 15.9991 23.28 16.2391 23.28L22.5191 23.56C22.9591 23.6 23.2791 23.92 23.2791 24.36V32.76C23.2791 34.28 22.1591 35.6 20.6391 35.84L16.4791 36.52C16.1991 36.56 15.9191 36.48 15.7191 36.32C15.3991 36.04 15.2791 35.56 15.4791 35.2C15.4791 35.2 16.3991 33.56 16.3991 31.96C16.3991 30.6 14.7991 29.6 14.7591 29.6C14.4791 29.52 14.3591 29.28 14.3591 29ZM17.9591 26.64C17.9191 27.92 17.2391 28.68 16.5991 29.16C17.2391 29.8 17.9591 30.8 17.9591 32.04C17.9591 33.08 17.6791 34.08 17.3991 34.8L20.3591 34.32C21.0791 34.2 21.6391 33.56 21.6391 32.84V25.2L17.3191 25C17.3591 25.08 17.3991 25.12 17.4391 25.2C17.7191 25.68 17.9591 26.12 17.9591 26.64ZM14.3591 11C14.3591 10.72 14.5191 10.48 14.7591 10.32C14.7591 10.32 16.3991 9.31996 16.3991 7.95996C16.3991 6.35996 15.5191 4.75996 15.4791 4.71996C15.2791 4.35996 15.3991 3.87996 15.7191 3.59996C15.9191 3.43996 16.1991 3.35996 16.4791 3.39996L20.6391 4.07996C22.1591 4.31996 23.2791 5.63996 23.2791 7.15996V15.56C23.2791 16 22.9591 16.32 22.5191 16.36L16.2391 16.64C16.0391 16.64 15.7991 16.56 15.6391 16.4C15.4791 16.24 15.3991 16.04 15.3991 15.84V15.8C15.3991 15.16 15.7591 14.56 16.0391 14C16.1591 13.76 16.3591 13.44 16.3991 13.32C16.3591 12.12 14.9991 11.76 14.9591 11.76C14.6391 11.68 14.3991 11.4 14.3591 11.08C14.3591 11.08 14.3591 11.04 14.3591 11ZM17.9591 7.95996C17.9591 9.19996 17.2391 10.2 16.5991 10.84C17.2391 11.32 17.9191 12.08 17.9591 13.32C17.9591 13.84 17.7191 14.32 17.3991 14.8C17.3591 14.84 17.3191 14.92 17.2791 15L21.6391 14.8V7.15996C21.6391 6.39996 21.1191 5.79996 20.3591 5.67996L17.4391 5.19996C17.6791 5.91996 17.9591 6.91996 17.9591 7.95996ZM18.1191 22.52C18.5591 22.52 18.9191 22.16 18.9191 21.72V18.24C18.9191 17.8 18.5591 17.44 18.1191 17.44C17.7991 17.44 17.5591 17.6 17.3991 17.88H16.7191C16.2791 17.88 15.9191 18.24 15.9191 18.68C15.9191 19.12 16.2791 19.48 16.7191 19.48H17.2791V20.4H16.7191C16.2791 20.4 15.9191 20.76 15.9191 21.2C15.9191 21.64 16.2791 22 16.7191 22H17.3591C17.4791 22.32 17.7591 22.52 18.1191 22.52ZM22.5991 22.16C22.7591 22.32 22.9591 22.4 23.1591 22.4C23.3591 22.4 23.5591 22.32 23.7191 22.16C23.9991 21.88 23.9991 21.32 23.7191 21.04C23.5591 20.88 23.3591 20.8 23.1591 20.8C22.9591 20.8 22.7591 20.88 22.5991 21.04C22.4391 21.2 22.3591 21.4 22.3591 21.6C22.3591 21.84 22.4391 22.04 22.5991 22.16ZM22.5991 18.96C22.7591 19.12 22.9591 19.2 23.1591 19.2C23.3591 19.2 23.5591 19.12 23.7191 18.96C23.9991 18.68 23.9991 18.12 23.7191 17.84C23.5591 17.68 23.3591 17.6 23.1591 17.6C22.9591 17.6 22.7191 17.68 22.5991 17.84C22.4391 18 22.3591 18.2 22.3591 18.4C22.3591 18.64 22.4391 18.84 22.5991 18.96Z' fill='white'/%3e%3c/svg%3e ")
          no-repeat center / contain;
        width: 2.778vw;
        min-width: 20px;
        aspect-ratio: 1;
        display: inline-block;
      }
    }
  }
  &__links {
    display: flex;
    justify-content: space-evenly;
    gap: 7.986vw;
    &-ul {
      display: flex;
      flex-direction: column;
      gap: 5px;
      & > *:first-child {
        margin-bottom: 20px;
        color: $white__1;
      }
    }
    &-li {
      white-space: nowrap;
      color: $white__2;
      font-size: $text__3;
    }
  }
  &__drag {
    &-container {
      display: flex;
      justify-content: flex-end;
      &-up {
        writing-mode: vertical-rl;
        color: $white__2;
        display: flex;
        align-items: center;
        gap: 5px;
        transition: 0.3s;

        &:hover {
          gap: 2vw;
          scale: 1.1;
        }
        &::before {
          content: "";
          background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M20.0008 32.04C19.4008 32.04 18.8008 31.8 18.3208 31.36L15.5608 28.68C15.4008 28.52 15.3208 28.36 15.3208 28.16L14.3608 8.79996C14.3608 8.59996 14.4408 8.35996 14.5608 8.19996C14.7208 8.03996 14.9208 7.95996 15.1208 7.95996H15.6408C17.3608 7.95996 19.0008 8.87996 19.8408 10.4L19.9608 10.64L20.1208 10.36C21.0008 8.87996 22.6008 7.95996 24.2808 7.95996H24.7608C24.9608 7.95996 25.2008 8.03996 25.3208 8.19996C25.4808 8.35996 25.5608 8.55996 25.5608 8.79996L24.8408 23.88L24.6008 28.16C24.6008 28.36 24.5208 28.56 24.3608 28.68L21.6008 31.36C21.2008 31.84 20.6008 32.04 20.0008 32.04ZM16.8808 27.76L19.4408 30.24C19.7608 30.56 20.2408 30.56 20.5608 30.24L23.1208 27.76L23.3208 23.8L24.0008 9.55996C23.0008 9.67996 22.0808 10.24 21.5608 11.12L20.6808 12.6C20.5208 12.84 20.2808 13 20.0008 13C19.7208 13 19.4408 12.84 19.3208 12.6L18.5208 11.16C18.0008 10.24 17.0808 9.63996 16.0408 9.55996L16.8808 27.76ZM29.0008 25.64C28.9608 25.64 28.9208 25.64 28.8808 25.64C28.5608 25.6 28.3208 25.36 28.2008 25.04C28.2008 25 27.8008 23.64 26.6008 23.6C26.4808 23.6 26.1608 23.8 25.9208 23.96C25.4008 24.28 24.7608 24.6 24.1208 24.6H24.0808C23.8808 24.6 23.6408 24.52 23.5208 24.36C23.3608 24.2 23.2808 24 23.2808 23.76L23.5608 17.48C23.6008 17.04 23.9208 16.72 24.3608 16.72H32.7608C34.2808 16.72 35.6008 17.84 35.8408 19.36L36.5208 23.52C36.5608 23.8 36.4808 24.08 36.3208 24.28C36.0408 24.6 35.5608 24.72 35.2008 24.52C35.2008 24.52 33.5608 23.6 31.9608 23.6C30.6008 23.6 29.6008 25.2 29.6008 25.24C29.5208 25.52 29.2808 25.64 29.0008 25.64ZM26.6408 22.04C27.9208 22.08 28.6808 22.76 29.1608 23.4C29.8008 22.76 30.8008 22.04 32.0408 22.04C33.0808 22.04 34.0808 22.32 34.8008 22.6L34.3208 19.64C34.2008 18.92 33.5608 18.36 32.8408 18.36H25.2008L25.0008 22.68C25.0808 22.64 25.1208 22.6 25.2008 22.56C25.6808 22.28 26.1208 22.04 26.6408 22.04ZM29.0008 25.64C28.9608 25.64 28.9208 25.64 28.8808 25.64C28.5608 25.6 28.3208 25.36 28.2008 25.04C28.2008 25 27.8008 23.64 26.6008 23.6C26.4808 23.6 26.1608 23.8 25.9208 23.96C25.4008 24.28 24.7608 24.6 24.1208 24.6H24.0808C23.8808 24.6 23.6408 24.52 23.5208 24.36C23.3608 24.2 23.2808 24 23.2808 23.76L23.5608 17.48C23.6008 17.04 23.9208 16.72 24.3608 16.72H32.7608C34.2808 16.72 35.6008 17.84 35.8408 19.36L36.5208 23.52C36.5608 23.8 36.4808 24.08 36.3208 24.28C36.0408 24.6 35.5608 24.72 35.2008 24.52C35.2008 24.52 33.5608 23.6 31.9608 23.6C30.6008 23.6 29.6008 25.2 29.6008 25.24C29.5208 25.52 29.2808 25.64 29.0008 25.64ZM26.6408 22.04C27.9208 22.08 28.6808 22.76 29.1608 23.4C29.8008 22.76 30.8008 22.04 32.0408 22.04C33.0808 22.04 34.0808 22.32 34.8008 22.6L34.3208 19.64C34.2008 18.92 33.5608 18.36 32.8408 18.36H25.2008L25.0008 22.68C25.0808 22.64 25.1208 22.6 25.2008 22.56C25.6808 22.28 26.1208 22.04 26.6408 22.04ZM11.0008 25.64C10.7208 25.64 10.4808 25.48 10.3208 25.24C10.3208 25.24 9.32082 23.6 7.96082 23.6C6.36082 23.6 4.76082 24.48 4.72082 24.52C4.36082 24.72 3.88082 24.6 3.60082 24.28C3.44082 24.08 3.36082 23.8 3.40082 23.52L4.08082 19.36C4.32082 17.84 5.64082 16.72 7.16082 16.72H15.5608C16.0008 16.72 16.3208 17.04 16.3608 17.48L16.6408 23.76C16.6408 23.96 16.5608 24.2 16.4008 24.36C16.2408 24.52 16.0408 24.6 15.8408 24.6H15.8008C15.1608 24.6 14.5608 24.24 14.0008 23.96C13.7608 23.84 13.4408 23.64 13.3208 23.6C12.1208 23.64 11.7608 25 11.7608 25.04C11.6808 25.36 11.4008 25.6 11.0808 25.64C11.0808 25.64 11.0408 25.64 11.0008 25.64ZM7.96082 22.04C9.20082 22.04 10.2008 22.76 10.8408 23.4C11.3208 22.76 12.0808 22.08 13.3208 22.04C13.8408 22.04 14.3208 22.28 14.8008 22.6C14.8408 22.64 14.9208 22.68 15.0008 22.72L14.8008 18.36H7.16082C6.40082 18.36 5.80082 18.88 5.68082 19.64L5.20082 22.56C5.92082 22.32 6.92082 22.04 7.96082 22.04ZM22.5208 21.88C22.5208 21.44 22.1608 21.08 21.7208 21.08H18.2408C17.8008 21.08 17.4408 21.44 17.4408 21.88C17.4408 22.2 17.6008 22.44 17.8808 22.6V23.28C17.8808 23.72 18.2408 24.08 18.6808 24.08C19.1208 24.08 19.4808 23.72 19.4808 23.28V22.72H20.4008V23.28C20.4008 23.72 20.7608 24.08 21.2008 24.08C21.6408 24.08 22.0008 23.72 22.0008 23.28V22.64C22.3208 22.52 22.5208 22.24 22.5208 21.88ZM22.1608 17.4C22.3208 17.24 22.4008 17.04 22.4008 16.84C22.4008 16.64 22.3208 16.44 22.1608 16.28C21.8808 16 21.3208 16 21.0408 16.28C20.8808 16.44 20.8008 16.64 20.8008 16.84C20.8008 17.04 20.8808 17.24 21.0408 17.4C21.2008 17.56 21.4008 17.64 21.6008 17.64C21.8408 17.64 22.0408 17.56 22.1608 17.4ZM18.9608 17.4C19.1208 17.24 19.2008 17.04 19.2008 16.84C19.2008 16.64 19.1208 16.44 18.9608 16.28C18.6808 16 18.1208 16 17.8408 16.28C17.6808 16.44 17.6008 16.64 17.6008 16.84C17.6008 17.04 17.6808 17.28 17.8408 17.4C18.0008 17.56 18.2008 17.64 18.4008 17.64C18.6408 17.64 18.8408 17.56 18.9608 17.4Z' fill='white'/%3e%3c/svg%3e ")
            no-repeat center / contain;
          width: 2.778vw;
          min-width: 20px;
          aspect-ratio: 1;
        }
      }
    }
  }
}

@media (max-width: 804px) {
  .footer {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (max-width: 400px) {
  .footer {
    & > * {
      min-width: 20%;
    }
  }
}
