@use "@/styles/variables.scss" as *;

.master {
  min-height: 100vh;
  padding-inline: 5vw;
  &__top {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 3vw;
    position: relative;
    &-title {
      font-size: $text__1;
      font-family: $ff-light;
    }
    &-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: $text__3;
      font-family: $ff-regular;
    }
    &-scroll {
      position: absolute;
      bottom: 10;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $text__3;
      gap: 10px;
    }
  }

  &__comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 2vw;
    margin-top: 40px;
    &-title {
      font-size: $text__1;
      font-family: $ff-light;
    }
    &-inner {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 2vw;
      width: 100%;
      padding-block: 50px;
      .master__comment {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 0 0 300px;
        margin: auto;
        padding: 5px;
        border-radius: 20px;
        gap: 10px;
        max-width: 500px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: $text__3;
        background: $white__3;
        color: $white__2;
        transform: rotate(-10deg);
        transition: 0.3s;
        &:hover {
          border-radius: 5px;
          background: $white__4;
          scale: 1.1;
          & {
            color: $white__1;
          }
        }
        .master__commentator {
          font-family: $ff-light;
          font-size: $text__2;
        }
        .master__comment-text {
          font-family: $ff-regular;
          font-size: $text__3;
          width: 100%;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: center;
        }
      }
    }
  }

  &__write {
    background: $white__3;
    margin-inline: auto;
    margin-block: 10vw;
    padding: 5vw;
    border-radius: 20px;
    width: 70%;
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2vw;
      legend {
        font-size: $text__1;
        font-family: $ff-light;
      }
      input {
        width: 40%;
        font-size: $text__3;
        padding: 0.3rem;
        border: 2px solid transparent;
        border-radius: 8px;
        background: $white__3;
        color: $white__1;
        transition: all 0.3s ease;
        &::placeholder {
          color: $white__2;
        }
        &:focus {
          outline: none;
          border-color: $blue__light;
          background: $white__2;
          &::placeholder {
            color: $white__1;
          }
        }
        &:hover {
          background: $white__2;
        }
      }
      button {
        border: 0;
        border-radius: 10px;
        background-color: $white__3;
        font-size: $text__3;
        padding: 0.3vw 1vw;
        color: $white__2;
        cursor: pointer;
        transition: all 0.3s ease;
        width: 15vw;
        &:hover:not(:disabled) {
          background-color: $white__2;
          color: $white__1;
          transform: translateY(-2px);
        }
        &:disabled {
          background-color: $white__2;
          cursor: not-allowed;
          transform: none;
        }
      }
    }
  }

  &__write-triger {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px 10px 5px 5px;
    background: $white__2;
    border-radius: 50%;
    width: 70px;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    border-radius: 100px;
    overflow: hidden;
    transition: 1s;
    border: 0;
    z-index: 900;
    &:hover {
      width: 230px;
    }

    svg {
      min-width: 60px;
      max-width: 60px;
    }

    span {
      white-space: nowrap;
      font-size: $text__4;
    }
  }
}

@media (max-width: 1224px) {
  .master {
    &__write-triger {
      span {
        white-space: nowrap;
        font-size: $text__3;
      }
    }
  }
}
