@use "../../../styles/variables.scss" as *;

.halloween__button {
  width: 5vw;
  background: none;
  border: 0;
  position: fixed;
  right: 0;
  top: 60;
  z-index: 1000;
  animation: spin 5s linear infinite;
  &-svg {
    &-path {
      fill: #f9a646;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
